@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container {
    margin: 100px auto;
    max-width: 1044px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 16%;
    padding: 2%;
}

.image .item_image {
    max-width: 100%;
}

.title {
    margin-top: auto;
}

footer {
    background-color: rgb(88, 88, 88);
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
}

h1 {
    color: rgb(11, 59, 202);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

h2 {
    margin-bottom: auto;
    text-align: center;
    overflow-wrap: break-word;
}

h4 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
} 

a {
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 8px;
}

li {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

@media (max-width: 920px) {
    .item {
        flex: 1 21%;
    }
}

@media (max-width: 560px) {
    .item {
        flex: 1 calc(100% / 3 - 4%);
    }
}