@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    position: relative;
    margin: 0px;
}

.container {
    margin: 100px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {

    background-color: white;
    border: 2px solid black;
    border-radius: 12px;

}

.item_image {
    margin: -1px;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}
.item:hover{
    box-shadow: 0 0 2px 2px rgb(99, 103, 109);
}

footer {
    background-color: rgb(88, 88, 88);
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
}

h1 {
    color: rgb(11, 59, 202);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

h2 {
    text-align: center;
}

h4 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
} 

a {
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    padding-bottom: auto;
    height: 60px;
    border-radius: 8px;
    
}

li {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}
